@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #ffffff;
}
.nav-link{
    color: #622a40;
    font-weight: 700;
}
.carousel-caption{
    text-align: right;
    top: 10rem;
    right: 10%;
}
.carousel-caption h4{
    font-weight: 700;
}
.btn-light {
    color: #fff;
    background-color: #a54270;
    border-color: #a54270;
    font-weight: 700;
}
#novos-cursos{
    margin-top: 5rem;
}
.curso{
    background-color: #f9f9f9;
    padding: 1rem .5rem;
    margin-bottom: .5rem;
    height: 110px;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
}
.curso-baixo{
    background-color: #f9f9f9;
    padding: 1rem;
    margin-top: 1.5rem;
    height: 110px;
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
    padding: 1rem .5rem;
}   
.curso h4, .curso-baixo h4{
    color: #622a40;
    font-weight: 700;
}
.plus{
    transition: transform .2s;
}
.plus:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#linha-cursos-1{
    margin-top: 3.5rem;
}

 #linha-cursos-2, #linha-cursos-3{
    margin-top: 1.5rem;
}
#sobre-unyleya{
    background-color: #f9f9f9;
    padding: 2rem 0 2rem 0;    
}
#sobre-unyleya h4{
    color: #622a40;
    font-weight: 700;
}
.btn-conheca{
    margin-top: 2.5rem;
}
#wave-top > svg, #wave-bottom > svg{
    display: block;
    margin: 0;
    padding: 0;
}

#cta{
    margin-top: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98,42,64,1) 0%, rgba(165,66,112,1) 92%);
    height: 350px;
}
.txt-cta{
    color: #ffffff;
    margin: 5rem 0 5rem 0;
}
.txt-cta h1{
    font-weight: 700;
}
form{
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 5rem 3.5rem;
    margin-top: -3rem;

    -webkit-box-shadow: -1px -1px 8px -2px rgba(0,0,0,0.76);
    -moz-box-shadow: -1px -1px 8px -2px rgba(0,0,0,0.76);
    box-shadow: -1px -1px 8px -2px rgba(0,0,0,0.76);
}

form h5{
    color: #e84242;
    font-weight: 600;
    text-transform: uppercase;
}

form p{
    color: #622a40;
}

#footer{
    background-color: #f9f9f9;
    height: 50px;
    margin-top: 10rem;
    padding-top: 1rem;
    display: block;
}

